<p class="title">
    <a href="@Href("~/Admin/")">Site Administration</a>
</p>
<ul>
    <li><a href="@Href("~/Admin/Orders/")">Orders</a></li>
    <li><a href="@Href("~/Admin/Categories/")">Categories</a></li>
    <li><a href="@Href("~/Admin/Products/")">Products</a></li>
    <li><a href="@Href("~/Admin/Products/Featured")">Featured Product</a></li>
    <li><a href="@Href("~/Admin/Users/")">Admin Users</a></li>
</ul>

