@{
    var resetToken = Request["resetToken"];
    var message = "";
    var newPassword1 = "";
    var newPassword2 = "";
    
    if(IsPost) {
        newPassword1 = Request["newPassword1"];
        newPassword2 = Request["newPassword2"];
        
        // Validation       
        if (newPassword1.IsEmpty()) {
            ModelState.AddError("newPassword1", "Required.");
        }
        
        if (newPassword2.IsEmpty()) {
            ModelState.AddError("newPassword2", "Required.");
        }
        
        if(newPassword1 != newPassword2)
        {
            ModelState.AddError("newPassword1", "The passwords do not match.");
        }
        
        // Attempt password reset        
        if(ModelState.IsValid)
        {
            if (WebSecurity.ResetPassword(resetToken, newPassword1))
            {
                message = "Password changed successfully.";
            }
            else
            {
                message = "Unable to change password.";
            }
        }
  }
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Reset Password</title>
    </head>
    <body>
        <h1>Reset Password</h1>
        @if (!message.IsEmpty()) {
            <p>@message</p>
        }
        else
        {
            <form action="PasswordReset" method="post">
                @Html.Hidden("resetToken", resetToken)
                <div>
                    @Html.Label("New Password: ", "newPassword1")<br />
                    @Html.Password("newPassword1")
                    @Html.ValidationMessage("newPassword1")
                </div>
                <div>
                    @Html.Label("Confirm New Password: ", "newPassword2")<br />
                    @Html.Password("newPassword2")
                    @Html.ValidationMessage("newPassword2")
                </div>
                <div>
                    <input type="submit" value="Reset Password" />
                </div>
            </form>
        }
    </body>
</html>
